@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@300&display=swap');

header {
    display: none;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

hr {
    display: none;
}

.element {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 1.2em;
    color: #666;
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

